@model WeCommerce.Models.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["Message"]
    </div>
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
    </dl>
    <div class="row">
        @{
            await Html.RenderPartialAsync("ChangePassword", Model.ChangePassword);
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

