@model ProductCatalogPageViewModel

@{
    ViewData["Title"] = "All Products";
}

<h1>All Products</h1>

@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (!Model.Products.Any())
{
    <p>No products found</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="d-flex flex-wrap justify-content-evenly">
                @foreach (var item in Model.Products)
                {

                    <div class="card my-2" style="width: 18rem;">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                @Html.DisplayFor(modelItem => item.Price)
                            </h6>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductId">View</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <span class="col-4"></span>
            <nav class="mx-auto mt-4 col-4" style="width: fit-content">
                <ul class="pagination">
                    @for (int cpage = 1; cpage <= Model.PageCount; cpage++)
                    {
                        @if (cpage == Model.CurrentPage)
                        {
                            <li class="page-item active"><a class="page-link" asp-route-id="@cpage" asp-action="Index">@cpage</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-route-id="@cpage" asp-action="Index">@cpage</a></li>
                        }

                    }

                </ul>
            </nav>
            <span class="col-4"></span>
        </div>
    </div>
    
    
}